<!-- HEADER -->
<%- include('./includes/header.ejs') %>


<!--======================================================================================
                        BACK 2 TOP BUTTON                                              -->
<div data-aos="zoom-in-down" id="backtotop">
    <a href="#home">
        <i class="bi bi-arrow-up-square-fill"></i>
    </a>
</div>

<!--======================================================================================
                        PWA BANNER ON BUTTON CLICK                                     -->
<div role="button" data-aos="zoom-in-down" class="btnPWAShowBanner"><i class="fas fa-comment-medical"></i></div>


<!--======================================================================================
                        MESSAGE ANZEIGEN                                               -->
<% if(message) { %>
<div id="messageBox" class="container d-relative">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center messagebox">
            <%= message %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<% } %>


<!--===========================================================================
                          HERO-SCTION                                       -->
<div class="container-fluid d-relative">
    <!-- IMG -->
    <section data-aos="fade-right" id="home" class="jumbotron jumbotron-fluid hero-bg"></section>

    <!-- TEXT & BTN -->
    <div class="container hero-section">
        <% if(isLoggedIn) { %>
            <h1 class="display-5 text-dark mt-5 pt-5 mb-4">SpreadLove. <span class="danceFont danceRotate"><%= name %></span>!</h1>
        <% } else { %>
            <h1 class="display-5 text-dark mt-5 pt-5 mb-4">SpreadLove. <span class="danceFont danceRotate">Every</span>ONE</h1>
        <% } %>

        <p class="lead text-dark">Liebeserklärung an meine Frau Alicia! <i class="bi bi-heart"></i></p>
        <a href="#aboutUs" role="button" class="btn btn-round btn-lg btn-outline-dark mt-2">
            <small class="pr2">Lies mehr von uns...</i> <i class="bi bi-arrow-down-circle-fill iconDown"></i></small> 
        </a>
    </div>
</div>


<!--===========================================================================
                          ABOUT US                                          -->
<section id="aboutUs" class="d-relative">
    <div class="container">

        <!-- START SINGLE ROW -->
        <div class="row">
            <!-- START LEFT COLUMN -->
            <div class="col-lg-6 mr-5 text-center">
                <h1 class="mb-4">About us...</h1>
                <p>Meine Frau, Alicia, und ich haben uns 2013 in einem Fitnessstudio in Wien kennen gelernt! 
                    Nachdem wir Anfang 2014 auch ein Paar geworden sind, war für mich nach wenigen Wochen klar:
                    <br><span style="font-weight: bold">diese Frau will ich heiraten!</span>
                </p>
                <br>
                <p>
                    Es ist für mich nach knapp sieben (7!) Jahren noch immer ein Wunder und ich bin unsagbar 
                    dankbar! Ich liebe einfach alles an diesem Mädchen: Sie hat ein riesiges Herz, ist intelligent, lustig, 
                    ein bisschen verrückt und ausnehmend hübsch!
                </p>
                <br>
                <p>
                    Seit Dezember 2017 sind wir verheiratet, und unsere Bindung zueinander ist dadurch nur noch stärker geworden.
                    Inzwischen sind wir zudem überglücklich auch noch mit einer kleinen Prinzessin schwanger zu sein! Im April 
                    2021 werden wir das Produkt unserer Liebe hoffentlich in Händen halten dürfen!
                </p>
                <p class="text-uppercase text-muted mt-4"><small>&mdash; Andreas S. W. (Dec. 2020)</small></p>
            </div> <!-- end col -->
            
            <!-- START RIGHT COLUMN -->
            <div class="col">
                <div  data-aos="fade-left" class="img-bg d-none d-lg-inline">
                    <img class="img-fluid" src="/img/alicia_danube.png" alt="About us...">
                </div>
            </div> <!-- end col -->
        </div> <!--end row-->

    </div>
</section>



<!--===========================================================================
                          News                                              -->
<section class="d-relative news-bg mb-5 pb-5">
<div class="bg-overlay"></div>
<div class="container">
    <h1 id="news" class="mt-5 pt-5">News Bereich</h1>

    <!-- Anzeige links -->
    <div class="row justify-content-start mb-2 pb-2">
        <div class="col-lg-9">
            <div class="row bg-light text-dark">
                <div class="col-lg-3">
                    <img class="news-images" src="/img/section_news/silvester_2021_alicia.jpg" alt="News section">
                </div>
                <div class="col">
                    <h5 class="text-center bg-light">Frohes neues Jahr 2021</h5>
                    <hr>
                    <p class="text-center bg-light text-dark">
                        Wir wünschen Euch ein frohes neues Jahr und hoffen, dass dieses Jahr einfach nur super wird!  
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Anzeige rechts -->
    <div class="row justify-content-end mb-2 pb-2">
        <div class="col-lg-9">
            <div class="row bg-light text-dark">
                <div class="col">
                    <h5 class="text-center bg-light">2021 wir <span style="text-decoration: line-through;">zwei</span> - ähhh, ich wollte sagen: wir DREI!! kommen!</h5>
                    <hr>
                    <p class="text-center bg-light text-dark">
                        So viele negative Momente dieses vergangene Jahr 2020 auch für viele bedeutet haben mag. Wir blicken hoffnungsvoll und voller Freude ins nächste jahr! 
                    </p>
                </div>
                <div class="col-lg-3">
                    <img class="news-images" src="/img/section_news/silvester_2021.jpg" alt="News section">
                </div>
            </div>
        </div>
    </div>
    

</div>
</section>

<!--===========================================================================
                          SCHWANGERSCHAFT                                   -->
<section id="pregnant" class="d-relative pregnacy-bg pb-5 mb-5">
    <div class="bg-overlay"></div>
    <div class="container">
        <h1>Bilder unserer Schwangerschaft...</h1>
        <div class="row justify-content-center mb-5">

            <!-- card deck 1 -->
            <div class="card-deck">
                <div data-aos="zoom-in-up" class="card">
                    <img src="/img/section_preg/preg_3th_month.jpg" alt="pregnant_3months">
                    <div class="card-body">
                        <h4 class="card-title">drittes Monat</h4>
                        <p class="card-text">
                            dieses Foto wurde im dritten Schwangerschaftsmonat aufgenommen
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">3 months</small>
                    </div>
                </div>

                <div data-aos="zoom-in-up" class="card">
                    <img src="/img/section_preg/preg_4th_month.jpg" alt="pregnant_4months">
                    <div class="card-body">
                        <h4 class="card-title">viertes Monat</h4>
                        <p class="card-text">
                            vier Monate schwanger
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">4 months</small>
                    </div>
                </div>

                <div data-aos="zoom-in-up" class="card">
                    <img src="/img/section_preg/preg_5th_month.jpg" alt="pregnant_5months">
                    <div class="card-body">
                        <h4 class="card-title">FÜNF Monate!!</h4>
                        <p class="card-text">
                            fünf Monate - ist das zu fassen!?
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">5 months</small>
                    </div>
                </div>
            
                <div data-aos="zoom-in-up" class="card">
                    <img src="/img/section_preg/preg_6th_month.jpg" alt="pregnant_6months">
                    <div class="card-body">
                        <h4 class="card-title">Sechs Monate</h4>
                        <p class="card-text">
                            ich liebe es, wenn meine kleine Prinzessin strampelt 
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">6 months</small>
                    </div>
                </div>
            
            </div>
            
            <br>

            <!-- card deck 2 -->
            <div class="card-deck">

                <div data-aos="zoom-out-down" class="card">
                    <img src="/img/section_preg/preg_placeholder.jpg" alt="placeholder">
                    <div class="card-body">
                        <h4 class="card-title">more to come...</h4>
                        <p class="card-text">
                            <small class="text-muted">* Placeholder</small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">picture to come</small>
                    </div>
                </div>

                <div data-aos="zoom-out-down" class="card">
                    <img src="/img/section_preg/preg_placeholder.jpg" alt="placeholder">
                    <div class="card-body">
                        <h4 class="card-title">more to come...</h4>
                        <p class="card-text">
                            <small class="text-muted">* Placeholder</small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">picture to come</small>
                    </div>
                </div>
            
                <div data-aos="zoom-out-down" class="card">
                    <img src="/img/section_preg/preg_placeholder2.jpg" alt="placeholder">
                    <div class="card-body">
                        <h4 class="card-title">more to come...</h4>
                        <p class="card-text">
                            <small class="text-muted">* Placeholder</small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">picture to come</small>
                    </div>
                </div>

                <div data-aos="zoom-out-down" class="card">
                    <img src="/img/section_preg/preg_placeholder2.jpg" alt="placeholder">
                    <div class="card-body">
                        <h4 class="card-title">more to come...</h4>
                        <p class="card-text">
                            <small class="text-muted">* Placeholder</small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">picture to come</small>
                    </div>
                </div>

            </div>

            
        </div> <!-- ende row -->
    </div> <!--ende container-->
</section>




<!--===========================================================================
                          QUOTES                                            -->
<section id="quotes" class="d-relative mt-5 pt-5 mb-5 pb-5">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 class="text-center mb-5">Was ich noch sagen wollte...</h1>
                <div id="quotes-slider" class="carousel slide text-dark" data-ride="carousel">
                    <ol class="carousel-indicators text-dark">
                        <li data-target="#quotes-slider" data-slide-to="0" class="active bg-dark mr-2"></li>
                        <li data-target="#quotes-slider" data-slide-to="1" class="bg-dark mr-2"></li>
                        <li data-target="#quotes-slider" data-slide-to="2" class="bg-dark"></li>
                        <li data-target="#quotes-slider" data-slide-to="3" class="bg-dark"></li>
                    </ol>
                    <div class="carousel-inner">

                        
                        <!-- Kommentare für Slider aus DB laden -->
                        <% comments.forEach( (comment, index) => { %>
                            <% if( index == 0 ){ %>
                                <div class="carousel-item active">
                            <% } else { %>
                                <div class="carousel-item">                            
                            <% } %>
                                <div class="col text-center">
                                    <p class="lead text-dark mb-3">
                                        <%- comment.get().comment %>
                                    </p>
                                    <p class="text-uppercase text-muted">&mdash; <%- comment.get().name %></p>
                                </div>
                            </div>                        
                        <% }) %>


                        <!-- Fehlende Carousel-Items für Slider erzeugen -->
                        <% while( comments.length < 4 ) { %>
                            <div class="carousel-item">
                                <div class="col text-center">
                                    <p class="lead text-dark mb-3">
                                        Nach drei Jahren Ehe ist man schon ein altes Ehepaar!
                                    </p>
                                    <p class="text-uppercase text-muted">&mdash; ASW, <em><%= comments.length %></em></p>
                                </div>
                            </div>                            
                            <% comments.length = comments.length + 1 %>
                        <% } %>


                    </div> <!-- inner carousel -->

                    <a href="#quotes-slider" role="button" class="carousel-control-prev text-dark"> <i class="fas fa-arrow-left"  aria-hidden="true"></i> </a>
                    <a href="#quotes-slider" role="button" class="carousel-control-next text-dark"> <i class="fas fa-arrow-right" aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>


<!--===========================================================================
                          Lasst Liebe da                                    -->
<section id="comments" class="d-relative mt-5 pt-5 mb-5 pb-5">

    <div class="container mt-5 pt-5">
        <h1 class="border-line">Schreibt uns etwas - lasst Liebe da!</h1>
        <p class="small text-muted">
            Die lezten erfassten Kommentare werden oberhalb im Slider angezeigt.
            Bitte beachte, dass nur ein Eintrag pro Tag erfasst werden kann. 
            Zudem wird Deine IP-Adresse gespeichert um dies auch zu verifizieren.
        </p>
  
          <form action="/comment" method="POST">
              <div class="row">
                  <!-- LINKE SPALTE -->
                  <div class="col">
                      <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="text" id="name" name="name" class="form-control" placeholder="* please enter your name">
                      </div>
                      <div class="form-group">
                          <label for="email">E-Mail:</label>
                          <input type="email" id="email" name="email" class="form-control" placeholder="* please enter your email address">
                      </div>
                      <div class="form-group">
                          <label for="textarea">Was willst Du mir sagen?</label>
                          <textarea name="comment" class="form-control" id="textarea" rows="4"></textarea>
                      </div>
                      <div class="form-group">
                          <input class="btn btn-success" type="submit" name="commit" value="Place comment">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">  <!-- CSRF TOKEN -->
                      </div>
                  </div> <!--end col-->
            </div> <!--end row-->
        </form> <!--end input form-->
  
    </div> <!-- CONTAINER END -->
</section>
                        



<!-- FOOTER -->
<%- include('./includes/footer.ejs') %>