<!--======================================================================================
                                    HEADER                                             -->
<%- include('../includes/header.ejs') %>
               

<!--======================================================================================
                                    MAIN WINDOW AREA                                   -->
<main>    
  <div class="container mt-5 pt-5">
      <h1 class="border-line">Login to SpreadLove: <%= name %></h1>

      <h2>Please enter here your logon credentials:</h2>
      <form action="/authentication/login" method="POST">
          <div class="row">
            <!-- LINKE SPALTE -->
              <div class="col">
                  <div class="form-group">
                      <label for="email">E-Mail: </label>
                      <input type="email" id="email" name="email" value="<%= email %>" class="form-control" placeholder="* please enter your email address">
                  </div>
                  <div class="form-group mb-4">
                      <label for="password">Password: </label>
                      <input type="password" id="password" name="password" value="<%= password %>" class="form-control" placeholder="* please enter password">
                      <small class="form-text text-muted">Bitte wähle ein sicheres Passwort!</small>
                  </div>
              
                  <div class="input-group mb-3">
                      <div class="input-group-text">
                          <input type="checkbox" id="remember_me" name="remember_me" value="0" aria-label="Remember me on this Computer">
                          <label for="remember_me">Rememer me</label>
                      </div>
                  </div>
                  <div class="form-group">
                      <input class="btn btn-success" type="submit" name="commit" value="Login">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">  <!-- CSRF TOKEN -->
                  </div>

                  <small class="form-text text-muted">
                      Forgot your password? <a href="/authentication/resetPwd">Click here to reset your password</a>. 
                  </small>
                </div> <!--end col-->
          </div> <!--end row-->
          <hr class="divider mt-5 mb-5"></hr>
          <div class="row">
              <div class="col">
                <strong class="form-text text-muted">
                    If you have not registered yet, pleaes press <a href="/authentication/register">here</a>! 
                </strong>
              </div>
          </div>
      </form> <!--end login form-->

  </div> <!-- CONTAINER END -->
</main>


<!--======================================================================================
                                    FOOTER                                             -->
<%- include('../includes/footer.ejs') %>